/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Fonts---------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*Family: Chilanka (True Brooklynn), Raleway (NAV), Piazzolla (content*/
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=The+Girl+Next+Door&family=Piazzolla:wght@200&family=Raleway:wght@300&display=swap');

body {
    margin:0; 
    background-color: white;
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Header----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.topheader_tex{
  padding: 0.5rem 5rem 0.5rem;
	background-color: #ffd700;
	text-align: center;
}

.topheader_tex p{
	background-color:transparent;
	color: white;
	font-size: 0.7rem;
	font-family: 'Piazzolla', serif;
}

.navheader {
  overflow: hidden;
  background-color: white;
  color: #333;
}

.navheader h1 a{
  text-align: center;
  color: black;
  font-size: 1.57rem;
  font-family: 'The Girl Next Door', cursive;
  text-transform:uppercase;
}

.navheader h1 a:hover{
  text-decoration: none;
}

.navheader a {
  padding: 0 1em;
  float: left;
  color: #333;
  text-align: center;
  text-decoration: none;
}

.subheader {
  overflow: hidden;
  float: left;
  font-family: 'Piazzolla', serif;
}

.subheader .subnavbtn { 
  font-family: 'Arial', sans-serif;
  padding: 1rem;
  margin: 0; 
  border: none;
  outline: none;
  background-color: white;
  color: #333;
  font-size: 0.8rem;
  text-transform:uppercase;
}

.subheader:hover .subnavbtn {
  text-decoration: underline;
  background-color: #FFC2B0;
}

.subheader-content-grid{
  display: none;
  padding: 1rem 3rem 1rem;
  grid-template-columns: auto auto;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.grid-item h1{
  margin: auto;
  font-size: 0.8rem;
  font-weight: bold;
}

.grid-item a {
	padding: 0.5rem 1.5rem 0.5rem;
	font-size: 0.8rem;
	justify-self: left;
	color: #333;
	text-decoration: none;
}

.sub-grid {
	display: grid;
	justify-content: left;
	padding: 0.5rem 1.5rem 0.5rem;
}

.grid-item sub-grid a {
	padding: 1rem;
	font-size: 0.8rem;
	justify-self: left;
	color: #333;
	text-decoration: none;
}

.subheader-content-grid a:hover {
	background-color: white;
	text-decoration: none;
	color: black;
}

.subheader:hover .subheader-content-grid {
  display: grid;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Banners----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.topBanner{
    background-color: white;
  
    
    justify-content: center;
    align-items: center; /*align image*/
    text-align: center;
    position: relative; /* image to scale nicely on all screens*/
}


.topBanner h1{
	padding: 5rem 1px ;
	position: relative;
  	background-color: #fbc1b0;
	color: white;
	font-family: 'Piazzolla', sans-serif;
	font-size: 3rem;
}


.topBanner img {
  object-fit: cover;
  width: 100vw;
  height: 75vh;
}

.topBannerWhite{
  background-color: white;
  box-shadow: 0.5rem 0.5rem 1rem #fbc1b0;
  text-align: center;
  position: relative;
  margin: 2em 0;
}

.topBannerWhite h1{
padding: 5rem 1px ;
background-color: white;
color: rgb(247, 192, 176);
font-family: 'Piazzolla', sans-serif;
font-size: 3rem;
}

/*to display full image and squeeze*/
.topBannerWide{
    width: 100vw;
    background-color: white;
  
    display: flex;
    justify-content: center;
    align-items: center; /*align image*/

    position: relative; /* image to scale nicely on all screens*/
}

.topBannerWide img {
  object-fit: fill;
  width: 100vw;
  height: 60vh;
  max-width: 100%;
}


.featureLinkBanner{
    width: 100vw;
    height: 75vh; 
    background-color: white;
  
    
    justify-content: center;
    align-items: center; /*align image*/
    text-align: center;
    position: relative; /* image to scale nicely on all screens*/
}


.featureLinkBanner h1{
	padding: 5rem 1px ;
	position: relative;
	font-size: 3rem;
}

.featureLinkBanner h1 a{
  text-decoration: none;
  font-family: 'Raleway', serif;
  color: #333;
  background-color: rgba(255,255,255,0.5); 
}


.featureLinkBanner h1 a:hover{
  color: rgba(251,193,176);
}

/*to display post images*/

.plainPostBanner{
  display: grid;
  grid-template-rows: auto auto;
  text-align: left;
  padding: 0rem 0rem 1.2rem;
  position: relative;
  background-color: rgb(247, 192, 176);
}

.plainPostBanner .postTitle{
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.postBanner{
	display: grid;
  grid-template-rows: auto auto;
  text-align: left;
  padding: 1.2rem 1.2rem 1.2rem;
  position: relative;
}

.postBanner img{
	object-fit: cover;
  width: 100vw;
  height: 15em;
}

.postBanner .postTitle{
  top: 85%;
  left: 5%;
  position: absolute;
  width: 90%;
  background-color: rgb(247, 192, 176);
}


.postBanner .postTitle h1{
  text-align: center;
  position: relative;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.postBanner .postTitle h2{
  text-align: center;
  position: relative;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.someContentBanner{
  margin: auto;
  display: block;
  width: 90%;

	background-color:#ffffff;
	color: black;
}

.someContentBanner p{
	display: block;
	position: relative;    
	background-color: transparent;
	font-family: 'Piazzolla', serif;
	font-size: 1rem;
	line-height: 1.5;
}

.first-letter{
	padding: 10px 0px 0px;
	position: relative;
	background-color: transparent;
	font-family: 'Piazzolla', serif;
	font-size: 2rem;
	line-height: 1.5;
}

.dateBottomRight{
  font-style: italic;
  text-align: right;
}

.grid{
  margin: 1em 0;
  display: grid;
  gap: 1em;
}

.gridColorPalette{
  display: grid;
  gap: 1em;
  grid-template-columns: auto auto auto;
}

.gridColorPalette_Colors{
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  gap: 1em;
  grid-template-columns: auto auto auto auto auto;
}

.gridColorPalette_Colors_Pair{
  display: grid;
  grid-template-rows: auto auto;
  gap: 0;
}

.grid1x2{
  display: grid;
  gap: 1em;
  grid-template-columns: auto auto;
}

/*Home Page Grid*/
.grid2x4{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: auto auto;
  border: solid;
  border-width: 0.5rem;
  border-color: rgb(247, 192, 176);
  background-color: rgb(247, 192, 176);
}

.itemImgText{
  background-color: white;
  display: grid;
  grid-template-rows: auto auto;
  padding: 1em;
  justify-content: center;
}

.itemImgText .img{
  max-width:100%;
  max-height:100%;
}
  
.gridItemLeft{
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
}

.gridItemRight{
  display: flex;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: white;
  justify-content: center;
}

.caption{
  text-align: center;
}

.sideBarRight{
  width: 400px;
  float: right;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Pure Text Content Blocks----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.checkedList{
  list-style: none;  
}

.checkedList li::before{
  content: '\2713';
}

.textBox{
  padding: 2em;
  margin: auto;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Pure Image Blocks----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.preview{
  min-height: 30em;
  background-color: #f0efef;
}
.overlay{
  opacity: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 2em;
  /* width: 90%; */
  /* height: 80%; */
  /* color: rgba(0, 0, 0, 0.16); */
  /* text-align: right; */
}

.overlay a{
  color: white;
}

.preview:hover .overlay{
  opacity: 1;
  background-color: rgba(0,0,0,0.16);
  color: white;
}

.preview:hover{
  /* opacity: 1; */
  filter: brightness(99%);
  /* background-color: rgb(247, 192, 176); */
}

.imageFeed1x3{
  display: flex;
}

.imageFeed1x3 .oneImage{
  display: flex;
  flex-grow: initial;
}

.imageFeed1x3 p{
  text-align: center;
}

.imageFeed1x3_black{
  display: flex;
}

.imageFeed1x3_black .oneImage{
  display: flex;
  flex-grow: initial;
}

.imageFeed1x3_black p{
  text-align: center;
}

.imageText1x2{
  display: flex;
}

.imageText1x2 .imageBox{
  display: flex;
  flex-grow: initial;
  width: 50%
}

.imageText1x2 .textBox{
  margin: auto;
  width: 50%;
}

.imageFeed8x3{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: auto auto;
  border: solid;
  border-color: #FFC2B0;
  border-width: 0.5rem;
}

.imageFeed8x3 .oneImage{
  text-align: center;
}

.imageFeed8x3 .oneImage h1{
  padding: 0.5rem 0;
	position: relative;
	background-color: transparent;
	font-family: 'Raleway', serif;
	font-size: 1rem;
}

.imageFeed8x3 .oneImage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-height: 400px;
} 

.imageFeed8x3 .oneImage p{
  font-size: 1rem;
}

.imageFeed{
  margin: 1rem;
  max-width: 100vw;
  display: block;
  background-color: white;

  justify-content: center;
  align-items: center; /*align image*/

  position: relative; /* image to scale nicely on all screens*/
}

.imageFeed .oneImage{
  float: left;
  height: 400px;
  width: auto;
  padding: 1rem;
  text-align: center;
}

.imageFeed .oneImage h1{
  padding: 0.5rem 0;
	position: relative;
	background-color: transparent;
	font-family: 'Raleway', serif;
	font-size: 1rem;
}

.imageFeed .oneImage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80%;
  height: auto;
}

.oneImageInline{
  max-width: 200px;
  display: flex;
  padding: 1rem;
  float: left;
  align-items: center
}

.filterButton{
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.filterButton:hover {
  background-color: rgb(254, 220, 209);
}

.filterButton.active {
  background-color: #FFC2B0;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Text Containers----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.summaryReadMore{
  text-align: center
}
.detailsContentGrey{
  padding: 10px 10px 10px;
  background-color: #f0efef;
}
.diary {
	padding: 2em;
    margin: auto;
}
.diary .heading{
    padding-top: 1em;
    padding-bottom: 2em;
    display: table;
    margin: auto;
}
.diary .title{
    font-style: bold;
    align-items: center;
}

.diary .author{
    font-size: 1rem;
}

.diary .date{
    font-style: italic;
    font-size: 1rem;
}

.diary .content p{
    margin: 0;
    padding: 1em;
}

.distributedRow{
  display: flex;
  justify-content: center;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #f0efef;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.circle p{
  color: white;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Index Blocks----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.indexGridBlock {
	display: inline-flex;
	padding: 2em;
	max-width: 450px;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Protected Blocks------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.protectedPoetry{
	display: block;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
	padding: 2em;
	margin: 5em auto;
}

.protectedPoetry p{
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	line-height: 1.2;
}
/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Default----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.content{
	margin: auto 5px 0px auto;
	background-color: white;
}

h1{
  font-family: 'Piazzolla', serif;
}

h2{
  font-family: 'Piazzolla', serif;
}

ul {
  font-family: 'Piazzolla', serif;
}

li {
  font-family: 'Piazzolla', serif;
}

p {
	/* margin: auto 80px auto;
	display: block;
	max-width: 75vw; */
	background-color: white;
	color: black;
	font-family: 'Piazzolla', serif;
	font-size: 1.5rem;
}

img{
	max-width: 100%;
	max-height: 100%;
	display: block;
	text-align: center;
	width: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:rgb(247, 192, 176);
  font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Footer---------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.footer-site {
    background-color: #f0efef;
    border-top: 1px solid #f0efef;
    padding: 25px 50px 25px;
    color: white;
    position: relative;
}

.footer-site ul{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: 'Piazzolla', serif;
	width: 100%;
	z-index: 1;
}

.footer-site ul li{
    display:block;
    text-align: left;
    font-size: 1.2rem;
    font-family: 'Piazzolla', serif;
    color: black;
}

.footer-site ul li h1{
    display:block;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Piazzolla', serif;
}

.footer-link{
    padding-left:0;
}

.footer-link a{
    color:rgba(25,53,64,1);
    font-size: 1rem;
    font-family: 'Piazzolla', serif;
    text-decoration: none;
}

.footer-link a:hover{
    color: #333;
    text-decoration: none;
}
