/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Fonts---------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
/*Family: Chilanka (True Brooklynn), Raleway (NAV), Piazolla (content*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Piazzolla:wght@1family=Chilanka&display=swap');

body {
    margin:0; 
    background-color: #fee3da;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Header----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.topheader_tex{
  padding: 0.5rem 5rem 0.5rem;
	background-color: #ffd700;
	text-align: center;
}

.topheader_tex p{
	background-color:transparent;
	color: white;
	font-size: 0.7rem;
	font-family: 'Piazzolla', serif;
}

.navheader {
  overflow: hidden;
  background-color: white;
  color: #333;
}

.navheader h1 a{
  text-align: center;
  color: black;
  font-size: 1.57rem;
  font-family: 'Chilanka', cursive;
  text-transform:uppercase;
}

.navheader h1 a:hover{
  text-decoration: none;
}

.navheader a {
  padding: 0 1em;
  float: left;
  color: #333;
  text-align: center;
  text-decoration: none;
  text-transform:uppercase;
}

.subheader {
  overflow: hidden;
  float: right;
}

.subheader .subnavbtn { 
  padding: 1rem;
  margin: 0; 
  border: none;
  outline: none;
  background-color: white;
  color: #333;
  font-size: 0.8rem;
  font-family: inherit;
  text-transform:uppercase;
}

.subheader:hover .subnavbtn {
  text-decoration: underline;
}

.subheader-content-grid{
  display: none;
  padding: 1rem 3rem 1rem;
  grid-template-columns: auto auto;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.grid-item h1{
  margin: auto;
  font-size: 0.8rem;
  font-weight: bold;
}

.grid-item a {
	padding: 0.5rem 1.5rem 0.5rem;
	font-size: 0.8rem;
	justify-self: left;
	color: #333;
	text-decoration: none;
}

.sub-grid {
	display: grid;
	justify-content: left;
	padding: 0.5rem 1.5rem 0.5rem;
}

.grid-item sub-grid a {
	padding: 1rem;
	font-size: 0.8rem;
	justify-self: left;
	color: #333;
	text-decoration: none;
}

.subheader-content-grid a:hover {
	background-color: white;
	text-decoration: none;
	color: black;
}

.subheader:hover .subheader-content-grid {
  display: grid;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Banners----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.topBanner{
    width: 100vw;
    height: 75vh; 
    background-color: white;
  
    display: flex;
    justify-content: center;
    align-items: center; /*align image*/

    position: relative; /* image to scale nicely on all screens*/
}

.topBanner img {
  object-fit: cover;
  width: 100vw;
  height: 75vh;
}

.postBanner{
	display: grid;
	grid-template-columns: auto auto;
	text-align: left;
	padding: 1.2rem 1.2rem 1.2rem;
	position: relative;
}

.postBanner img{
	display: inline;
	object-fit: cover;
	width: 30em;
	height: 15em;
	margin: auto 10px 0px auto;
}

.postBanner .postTitle{
	display: inline;
	padding: 5rem 1rem 0rem;
	max-height: 15em;
	position: relative;
}

.postBanner postTitle h1{
	display: inline;
	padding: 5rem 1px 0px;
	position: relative;
	color: #ff7c64;
	font-family: 'Raleway', sans-serif;
	font-size: 3rem;
}

.postBanner postTitle h2{
	display: inline-block;
	text-align: center;
	padding: 1rem 1rem 1rem;
	position: relative;
  	color: #ff7c64;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}

.someContentBanner{
	display: block;
	margin: 0;
	padding: 0.5em 4em;

	background-color:#ffffff;
	/*background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;*/
	color: black;
}

.someContentBanner p{
	display: block;
	padding: 10px 10px 10px;
	position: relative;    
	background-color: transparent;
	font-family: 'Piazzolla', serif;
	font-size: 1rem;
	line-height: 1.5;
}

.first-letter{
	padding: 10px 0px 0px;
	position: relative;
	background-color: transparent;
	font-family: 'Piazzolla', serif;
	font-size: 2rem;
	line-height: 1.5;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Default----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.content{
	margin: auto 5 0px auto;
	background-color: white;
}

p {
	margin: auto 80px auto;
	display: block;
	max-width = 75vw;
	background-color: white;
	color: black;
	font-family: 'Piazzolla', serif;
	font-size: 1.5rem;
}

img{
	margin: auto 80px auto;
	max-width: 80%;
	max-height: 100%;
	display: block;
	text-align: center;
	width: auto;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*-------------------------Footer---------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
.footer-site {
    background-color: #f0efef;
    border-top: 1px solid #f0efef;
    padding: 25px 50px 25px;
    color: #white;
    position: relative;
}

.footer-site ul{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: 'Piazzolla', serif;
	width: 100%;
	z-index: 1;
}

.footer-site ul li{
    display:block;
    text-align: left;
    font-size: 1.2rem;
    font-family: 'Piazzolla', serif;
    color: black;
}

.footer-site ul li h1{
    display:block;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Piazzolla', serif;
}

.footer-link{
    padding-left:0;
}

.footer-link a{
    color:rgba(25,53,64,1);
    font-size: 1rem;
    font-family: 'Piazzolla', serif;
    text-decoration: none;
}

.footer-link a:hover{
    color: #333;
    text-decoration: none;
}
