<!DOCTYPE html>
	<html lang="en"> <!--This website content is in English-->
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="https://drive.google.com/uc?export=view&id=1CXRYUh4FeiLFDy0v_ffIek3zTVt_Bojn">
			<!--link to main javascript , DNE yet
			<script type="text/javascript" src="/js/main.js"></script>-->
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<div class="topheader_tex">
			<p>Falling in love with what's already here</p>
		</div>
		<!--Navigation links to topics-->
		<div class="navheader">
			<h1><a href="/">TRUE BROOKLYNN</a></h1>
			<div style="float:right">
				<div class="subheader">
				    <button class="subnavbtn">Personal Style</button>
					<div class="subheader-content-grid">
						<div class="grid-item">
							<h1> The Systematic Method </h1>
							<div class="sub-grid">
								<a href="/personalstyle/color_palette">Color Palette</a>
								<a href="/personalstyle/fit">The Fit</a>
								<a href="/personalstyle/fabric">The Fabric</a>

							</div>
						</div>
						<div class="grid-item">
							<h1> Putting it Together </h1>
							<div class="sub-grid">
								<a href="/personalstyle/capsule-wardrobe">Mini Capsule Wardrobes</a>
								<a href="/personalstyle/visualizing-style">Variety & Balance</a>
								<a href="/personalstyle/think-before-you-buy">Think Before You Buy!</a>
							</div>
						</div>
					</div>
				</div>
				<div class="subheader">
					<button class="subnavbtn">Lifestyle</button>
					<div class="subheader-content-grid">
						<div class="grid-item">
							<div class="sub-grid">
								<a href="/lifestyle/eating-in-the-works">Eating in the Works</a>							
								<a href="/lifestyle/its-ok-to-admire">It's OK to Admire</a>
								<a href="/lifestyle/budgeting">Budgeting</a>
							</div>
						</div>
					</div>
				</div>
				<div class="subheader">
				    <button class="subnavbtn">Greeting the Season</button>
					<div class="subheader-content-grid">
						<div class="grid-item">
							<h1>Fall/Winter</h1>
							<div class="sub-grid">
								<a href="/trends/2022/spring-summer">Spring/Summer 2022</a>
								<a href="/trends/2023/spring-summer">Spring/Summer 2023</a>
							</div>
						</div>
						<div class="grid-item">
							<h1>Spring/Summer</h1>
							<div class="sub-grid">
								<a href="/trends/2022/fall-winter">Fall/Winter 2022</a>
								<a href="/trends/2023/fall-winter">Fall/Winter 2023</a>
							</div>
						</div>
						<div class="grid-item">
							<h1>Top Purchases of the Year</h1>
							<div class="sub-grid">
								<a href="/best/2022">In 2022</a>
							</div>
						</div>
						<div class="grid-item">
							<h1>Reflections</h1>
							<div class="sub-grid">
								<a href="/reflections/gratitude">Gratitude to Others and Yourself</a>
							</div>
						</div>
					</div>
			    </div>
			    <div class="subheader">
	      			<a class="subnavbtn" href="/sketchpad">Dreaming Up New Styles</a>
			    </div>
			</div>
		</div>
		<body>		
			{{ content }}
		</body>
		<!-- Site footer -->
		<footer class ="footer-site">
			<ul class="footer-link">
			  <li>
				  <a href="/about/me"><h1>About</h1></a></br>
				  <a href="/forms/feedback">Feedback</a></br>
				  <a href="/quizzes/">Quizzes</a></br>
				  <a href="/about/faq">Frequenty Asked Questions</a></br>
			  </li> 
  
			  <li>
				<h1>More Content</h1></br>
				<a href="/art/drawing-room">Art Portfolio</a></br>
				<a href="/art/creative-writing">Writing Pieces</a></br>
			  </li>
			</ul>
		  </footer>
	</html>
