<!DOCTYPE html>
	<html lang="en"> <!--This website content is in English-->
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="/../../css/window_icon.png">
			<!--link to main javascript , DNE yet
			<script type="text/javascript" src="/js/main.js"></script>-->
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<!--Navigation links to topics-->
		<div class="topheader_tex">
			<p>Falling in love with what's already here</p>
		</div>
		<div class="navheader">
			<h1><a href="#home">TRUE BROOKLYNN</a></h1>
			<div class="subheader">
				<button class="subnavbtn">Placeholder</button>
				<div class="subheader-content">
					<div class="subheader-content-grid">
						<div class="item1">
							<h1>My Colors</h1>
							<a href="/personalstyle/2020/10/17/Color-Palette">Color Palette and Bias</a>
							<a href="/personalstyle/2020/10/31/Nude-Colors">Nude Colors</a>
						</div>
					</div>
				</div>
			<div>
		</div>
		<body>			
				<!-- /.container -->
				<!--<div class="container"></div>-->

				{{ content }}
		</body>
		<!-- Site footer -->
		<footer class ="footer-site">
			<ul class="footer-link">
				<li><a href="/">Home</a></li>                        
				<li><a href="/index">Index</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</footer>
	</html>
