<!DOCTYPE html>
	<html lang="en"> <!--This website content is in English-->
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="/../../css/window_icon.png">
			<!--link to main javascript , DNE yet
			<script type="text/javascript" src="/js/main.js"></script>-->
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<div class="topheader_tex">
			<p>Falling in love with what's already here</p>
		</div>
		<!--Navigation links to topics-->
		<div class="navheader">
			<h1><a href="/">TRUE BROOKLYNN</a></h1>
			<div class="subheader">
			    <button class="subnavbtn">Personal Style</button>
				<div class="subheader-content-grid">
					<div class="grid-item">
						<h1>My Colors</h1>
						<a href="/personalstyle/2020/10/17/Color-Palette">Color Palette and Bias</a>
						<a href="/personalstyle/2020/10/31/Nude-Colors">Nude Colors</a>
					</div>
				    <div class="grid-item">
					    <h1>Fit Preference</h1>
				<a href="/personalstyle/2020/10/31/Fit-Tops">Tops</a>
				<a href="/personalstyle/2020/10/31/Fit-Bottoms">Bottoms</a>
						<a href="/personalstyle/2020/10/31/Fit-Shoes">Shoes</a>
					</div>
				</div>
		    </div>
			<div class="subheader">
				<button class="subnavbtn">Shopping</button>
				<div class="subheader-content-grid">
					<div class="grid-item">
						<a href="/personalstyle/2020/10/31/Shopping-FitTest">The Fit Test</a>
						<a href="/personalstyle/2020/10/31/Shopping-ColorTest">The Color Test</a>
						<a href="/personalstyle/2020/10/31/Shopping-ColorTest">The Fabric Test</a>
					</div>
				</div>
			</div>
			<div class="subheader">
			    <button class="subnavbtn">Wearable Trends</button>
				<div class="subheader-content-grid">
					<div class="grid-item">
						<h1>Fall</h1>
						<a href="/personalstyle/2020/10/31/Trends-2020-Fall">Fall 2020</a>
					</div>
					<div class="grid-item">
						<h1>Winter</h1>
						<a href="/personalstyle/2020/10/31/Trends-2021-Winter">Winter 2021</a>
					</div>
					<div class="grid-item">
						<h1>Spring</h1>
						<a href="/personalstyle/2020/10/31/Trends-2021-Spring">Spring 2021</a>
			    </div>
			    <div class="grid-item">
				<h1>Summer</h1>
				<a href="/personalstyle/2020/10/31/Trends-2021-Summer">Summer 2021</a>
			    </div>
				</div>
		    </div>
		    <div class="subheader">
			<button class="subnavbtn">Sketch Pad</button>
		    <div>
		</div>
		<body>		
			{{ content }}
		</body>
		<!-- Site footer -->
		<footer class ="footer-site">
			<ul class="footer-link">
				<li><a href="/">Home</a></li>                        
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/archive">Ultimate Wish List</a></li>
				<li><a href="/feedback">Feedback</a></li>
			</ul>
		</footer>
	</html>
